<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @revision.page %>
</p>

<p>
  <strong>Page:</strong>
  <%= @revision.page_id %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
