<div class="repos-page">
<div class="navbarr">
<div class="navbarr-row">
<div class="back-btn-navbar"><%= link_to '<--', repositories_path,class:'new-page-link'  %></div>
<h2 class="navbar-title">GitHub</h2>
</div>
<h2 class="navbar-title"><%=@current_user['username'] %></h2>
</div>
<div class="wikis-card">
<div class="repo-row">
<h2 class="wiki-title">Wiki <%=@repository['name']%>
</h2><%= link_to '+ Página', {controller:'pages', action:'newPage', wiki_id:@wiki.id}, class:'new-page-link'%>
</div>
<p id="notice"><%= notice %></p>
<div class="repo-row">

<table class="table-pages">
  <thead>
    <tr>
      <th class="th-title">Titulo</th>
      <th class="th-content">Contenido</th>
      <th class="th-message">Mensaje</th>
      <th class="th-date">Fecha</th>
      <th class="th-action"colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td class="th-title"><%= page.title %></td>
        <td class="th-content"><%= page.content %></td>
        <td class="th-message"><%= page.message %></td>
        <td class="th-date"><%= page.last_modification_date.strftime("%d/%m/%Y %k:%M")%></td>
        <td class="th-action"><%= link_to 'Ver', page,class:'action-repo-link' %></td>
        <td><%= link_to 'Editar', edit_page_path(page) ,class:'action-repo-link'%></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
</div>
